# Terraform State and Configuration
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# General OS files
.DS_Store
Thumbs.db
